<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="/admin/add-product" class="nav-link">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <h2 class="section-title">Products Available :</h2>
        <p class="product-list">List of all the products ...</p>
    </main>
    
</body>
</html>
