<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/add-product.css">
    <!-- path should be assuming we are already looking in 'public' folder -->
   
 </head>