<header>
    <nav>
        <ul>
            <li><a href="/shop">Home</a></li>
            <li><a href="/admin/add-product">Add Task</a></li>
            <li><a href="/shop/display">Display Board</a></li>
        </ul>
    </nav>
</header>